<label data-sw-translate for="{{responseContentTypeId}}">Response Content Type</label>
<ul name="responseContentType" id="{{responseContentTypeId}}">
{{#if produces}}
  {{#each produces}}
  <li>{{{this}}}</li>
  {{/each}}
{{else}}
  <li>application/json</li>
{{/if}}
</ul>
